@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #211830;
  background-color: #519975;
}

::-moz-selection {
  color: #211830;
  background-color: #519975;
}

.input-terminal {
  left: -1000px;
  position: absolute;
}

.liner {
  animation: show 0.5s ease forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
